.ProfileMain{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.ProfilePictureBackground{
    width: 95vw;
    height: 30vh;
    background-color: orange;
}

.ProfileSection{
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
}
.ActivitySection{
    height: 100%;
}
.ProfileAside{
    height: 100%;
}