.LoginPageMain{
    background-color: black;
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: 100vh;

}
.LoginPageAside{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LoginPageImage{
    width: 100%;
}