.sideBarBody{
    background-color: rgb(94, 94, 94);
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 5vw;
}

.ActiveButton{
    padding: 20px;
    margin: 20px 5px;
    background-color: blue;
    height: 40px;

    border-radius: 50px;
}
.NonActiveButton{
    padding: 20px;
    margin: 20px 5px;
    height: 40px;

    border-radius: 50px;
}